/*
	CSS for Angora Photography
*/



header{
	display: flex;  /*allows size of header to flex with screen size etc...*/
	position: fixed; /*keeps header fixed in same spot even if scrolling past it*/
	top: 0;  /*positions header at top*/
	z-index: 9; /*larger z-index will cover a smaller z-index, keeps header over other elements*/
	justify-content: left; /*keeps content at left of the header*/
	border-bottom: 1px solid black;
	width: 100%;
	height: 125px;
	vertical-align: center; /*aligns components in middle vertically*/
	font-family: 'Lexend Deca', sans-serif;
	text-align: left;
	font-size: 35px;	
	font-style: bold;
	color: white;
	background-size: 100%;
	background-image: url('/angoraphotography/images/woodgrain.jpg')
		
}

headernav{
	display: flex;  /*allows size of header to flex with screen size etc...*/
	position: fixed; /*keeps header fixed in same spot even if scrolling past it*/
	top: 0;  /*positions header at top*/
	z-index: 9;
	width: 100%;
	height: 125px
	vertical-align: bottom;
	font-family: 'Lexend Deca', sans-serif;
	text-align: right;
	font-size: 10px;	
	font-style: bold;
	color: white;
	
		
}






body{
	background-color:#ffffff;
	margin-top: 150px;
	z-index: 1;
	font-family: "Calibri, Corbel, Sans Serif";
	text-align: left;
	color: black;
	padding:0;
	
}




p{
	font-family: "Calibri, Corbel, Sans Serif";
	color: green;
	margin: 0px 0px 0px 125px;


}


